{% extends "base.html" %}
{% load static %}

{% block content %}
<h2>Welcome to Chatbot!</h2>
<div id='bodybox'>
  <div id='chatborder'>
    <p id="chatlog7" class="chatlog">&nbsp;</p>
    <p id="chatlog6" class="chatlog">&nbsp;</p>
    <p id="chatlog5" class="chatlog">&nbsp;</p>
    <p id="chatlog4" class="chatlog">&nbsp;</p>
    <p id="chatlog3" class="chatlog">&nbsp;</p>
    <p id="chatlog2" class="chatlog">&nbsp;</p>
    <p id="chatlog1" class="chatlog">&nbsp;</p>
    <input type="text" name="chat" id="chatbox" placeholder="Hi there! Type here to talk to me." onfocus="placeHolder()">
  </div>
  <br>
  <br>

  <!--
  <p>Write a program that responds to the user's text input.</p>


  <pre><code>if (lastUserMessage === 'hi'){
  botMessage = 'Howdy!';
}</pre></code>
  <pre><code>if (lastUserMessage === 'what is your name'){
  botMessage = 'My name is' + botName;
}</pre></code>
-->


</div>
<script src="{% static "chatbot.js" %}"></script>
{% endblock %}
