{% extends "base.html" %}
{% load static %}

{% block content %}
<head>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
  <header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h1 class="text-uppercase page-top">
            <strong>Welcome Sponsors</strong>
          </h1>
          <hr>
        </div>
        <div class="col-lg-8 mx-auto">
          <p class="text-faded mb-5">WHERE REFUGEE LAW EDUCATION, RESEARCH, AND PROGRAMMING COME TOGETHER</p>

          {% if not user.is_authenticated %}
          <div><a class="btn btn-light btn-xl js-scroll-trigger login-btn" href="{% url "login" %}">Login</a>
          <a class="btn btn-light btn-xl js-scroll-trigger create-btn" href="{% url "register" %}">Create an account</a></div>
          {% endif %}

          <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
        </div>
      </div>
    </div>
  </header>

  <section class="bg-primary" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading text-white">
FOSTERING JUSTICE AND
HUMAN RIGHTS FOR REFUGEES
</h2>
          <hr class="light my-4">
          <p class="text-faded mb-4">

Housed at the University of Ottawa, the Refugee Hub works to increase protection and rights for refugees by engaging in research, collaborative partnerships, and innovative programming on the community, national, and international level.

We work with citizens, political leaders, policy makers, and civil society to build opportunities and capacity to meet the protection needs of refugees through evidence-based policy and practice.
</p>

        </div>
      </div>
    </div>
  </section>

  <section id="resources" style="margin: auto;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Resources</h2>
          <hr class="my-4">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row" style="margin: 0 auto;">
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <img src="{% static "images\hand.png" %}" class="icon" alt="Donation pic" style="width:110px;height:140px;">
            <h3 class="mb-3">Donations</h3>
            <p><a href="https://refugeehub.ca/donate/">Help fund refugees</a></p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <img src="{% static "images\teaching.png" %}" class="icon" alt="Training pic" style="width:110px;height:140px;">
            <h3 class="mb-3">Training</h3>
            <p><a href="http://refugeesponsorship.org/resources/videos">Learn how you can help</a></p>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <img src="{% static "images\community.jpg" %}" class="icon" alt="Community pic" style="width:110px;height:140px;">
            <h3 class="mb-3">Community</h3>
            <p><a href="https://refugeehub.ca/community/">Be part of our growing community of sponsers</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>




  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading">To learn more about the opportunities with The Refugee Hub ...</h2>
          <hr class="my-4">
          <p class="mb-5">Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 ml-auto text-center">
          <i class="fas fa-phone fa-3x mb-3 sr-contact-1"></i>
          <p>613-562-5800</p>
        </div>
        <div class="col-lg-4 mr-auto text-center">
          <i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>
          <p>
            <a href="mailto:your-info@refugeehub.ca">info@refugeehub.ca</a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
  <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
  


{% endblock %}
